.container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}
/*Шапка*/
.header {
    display: grid;
    grid-template-columns: 2.5fr 2.1fr 1fr;
    align-items: center;
    justify-content: space-between;
    padding: 90px 50px;
    max-width: 1440px;
    width: 100%;
}

/*Меню хэдэра*/
.header__links-list {
    display: flex;
    font-size: 18px;
    padding-top: 45px;
    padding-bottom: 45px;
    gap: 32px;
    font-weight: 400;
    line-height: normal;
}

.header__links-list-item {
    list-style-type: circle;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__link {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.header__link_active {
    text-decoration: none;
}

/*Логотип хэдэра*/
.header__logo {
    display: flex;
    justify-content: start;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

/*Контакты хэдэра*/
.address {
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.9px;
}

.address-links {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.address-links-nolink {
    display: block;
    text-decoration: none;
    max-width: 240px;
    width: 100%;
}
/*Основной блок*/
main {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    flex-grow: 1;
}
/*Баннер*/
.cover {
    display: block;
    background-position: center;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    min-height: 757px;
    background-image: url("../images/cover.jpg");
    background-size: cover;
    position: relative;
    z-index: 0;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background: rgba(0, 0, 0);
    z-index: -1;
}
/*Заголовок*/
.cover__title {
    color: rgb(255, 255, 255);
    font-size: 100px;
    font-weight: 700;
    line-height: 115%;
    text-transform: uppercase;
}

.accent-span {
    display: block;
    max-width: 1340px;
    padding-left: 50px;
    padding-top: 165px;
}
.aligned-text {
    letter-spacing: 0.3em;
}

.accent-span_text-center {
    display: block;
    max-width: 1440px;
    text-align: center;
    margin-top: 15px;
}

.accent-span_text-right {
    display: block;
    max-width: 1420px;
    text-align: end;
    margin-top: 5px;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.cover__description {
    display: flex;
    align-items: baseline;
    justify-content: right;
    gap: 83px;
    margin-top: 130px;
    margin-right: 45px;
}
/*Подпись*/
.cover__description-text {
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 17px;
}
/*Кнопка*/
.bet-button {
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    min-width: 257px;
    max-height: 52px;
    color: rgb(255, 255, 255);
    padding: 10px 34px;
    text-align: right;
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
/*Карточки*/
.lots {
    max-width: 1340px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 180px;
}

.lots__heading {
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-left: 40px;
}

.lots__card-list {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.lots-card-list-item {
    display: flex;
    list-style-type: none;
    width: 430px;
    min-height: 450px;
    flex-grow: 1;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    position: relative;
    z-index: 0;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: center;
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
}

.card-link {
    display: block;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
    padding-top: 10px;
    width: 100%;
    height: 100%;
}

.card-text {
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    padding-bottom: 10px;
}

/*Ссылка*/
.lots__look-more-link {
    display: flex;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    padding-top: 30px;
    padding-left: 40px;
    text-decoration: underline 1px;
    text-underline-offset: 5px;
}
/*Об аукционе*/
.about {
    display: flex;
    max-width: 1340px;
    width: 100%;
    margin: 0px auto;
    padding-top: 180px;
}
/*Лого эбаут*/
.about__logo {
    display: flex;
    padding-left: 95px;
    padding-right: 95px;
}

.about__logo-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 240px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    float: left;
}

.about__logo-image__block {
    width: 148px;
    height: 114px;
    flex-shrink: 0;
}

.about-auction {
    display: flex;
    flex-direction: column;
}
/*Заголовок эбаут*/
.about__title {
    padding-top: 102px;
    padding-left: 25px;
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
/*Текст эбаут*/
.text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 100px;
    margin-left: 25px;
}

.about__text {
    max-width: 885px;
    width: 100%;
    flex-shrink: 0;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.15;
}
/*Футер*/
.footer {
    margin-top: 183px;
    margin-bottom: 90px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1440px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}
/*Меню футера*/
.footer__menu-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.footer__menu-link {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.footer__menu-link_active {
    text-decoration: none;
}

/*Ссылки на соцсети*/

.footer__social-list {
    display: flex;
    gap: 48px;
}

.footer__social-list-item {
    display: flex;
    justify-content: space-between;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}
